p{
  margin:0;
  padding: 0;
}
.item{
  float:left;
  width: 22%;
  margin: 0 1%;
  text-align: left;

}
.item .button{
  background: #000;
  color:#fff;
}
.item .button{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.img_swap{
  background: #ddd;
  width: 100%;
  height: auto;
  height: 150px;
}